visualizer/data/*
__pycache__/
*.pyc

.DS_Store
.vscode
.ipynb_checkpoints/
shared/gene-function/SANSPANZ.3/*.out
shared/gene-function/SANSPANZ.3/*.html
shared/gene-function/test_results/*
ensembl-mcp/.venv

**/.venv/*